{% extends "base.html" %}

{% block content %}
<h2 class="sub-header">通知信息</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>通知人</th>
        <th>通知标题</th>
        <th>通知内容</th>
        <th>通知时间</th>
      </tr>
    </thead>
    <tbody>

    {% for notification in object_list %}
        <tr>
            <td>{{notification.owner}}</td>
            <td>{{notification.title}}</td>
            <td>{{notification.notice}}</td>
            <td>{{notification.time}}</td>
        </tr>
    {% endfor %}

{% endblock %}
    </tbody>
  </table>
</div>
