{% extends "base.html" %}

{% block content %}
<h2 class="sub-header">题目浏览</h2>

    {% for question in object_list %}
        <p>
        {{ question.t_id }}.{{ question.t_content }}<br />
        A.{{ question.t_option1 }}<br />
        B.{{ question.t_option2 }}<br />
        C.{{ question.t_option3 }}<br />
        D.{{ question.t_option4 }}<br />
        {% if question.t_image %}
            <img src="{{ question.t_image.url }}" width="900" height="600"/><br />
        {% endif %}
        </p>
    {% endfor %}


{% endblock %}
</div>
